---
layout: null
theme :
  name : twitter
---
{% include JB/setup %}
{% capture ASSET_DIR %}/assets/themes/{{ page.theme.name }}{% endcapture %}

/*  HTML5 Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; margin-bottom: 15px; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
kbd, samp { font-family: monospace, sans-serif; }
html { overflow-y: scroll; -pie-load-path: "{{ ASSET_PATH }}/js"; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
body, select, input, textarea { color: #444; }
.ie7 img { -ms-interpolation-mode: bicubic; }

/*  General Settings  */
body {
  background-image: url(../img/bgs/bg_body.png);
  font-family: Verdana, Arial, "Microsoft YaHei", sans-serif;
  font-size: 14px;
  *font-size: small;
  zoom: 1;
}
select, input, textarea, button { font: 99% sans-serif; }
strong, th { font-weight: bold; }
em { font-style: italic; }
ul, ol { margin: 0 0 1em 2.5em; }
ol { list-style-type: decimal; }
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-shadow: 0 1px 1px #b3b3b3;
}
a {
  color: #ae432e;
  outline: none;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
a:hover, a:active { outline: none; }

/*  General Classes  */
.small { width: 33%; }
.medium { width: 66%; }
.large { width: 99%; }
.pull-left { float: left; }
.pull-right { float: right; }
.clearfix { zoom: 1; clear: both; }

/*  Main  */
#wrap {
  width: 1200px;
  margin: 20px auto;
}

#top {
  width: 100%;
  float: left;
}
#top >a { float: left; }
#logo { margin-top: 20px; }
#navbar {
  float: right;
  margin-top: 40px;
}
#navbar ul { list-style: none; }
#navbar ul li {
  font-weight: bold;
  font-size: 120%;
  float: left;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}
#navbar ul li a {
  color: #666;
  padding: 5px 0;
}
#navbar ul li.active a,
#navbar ul li a:hover {
  color: #ae432e;
  text-decoration: none;
  border-bottom: 4px solid #ae432e;
}
.ie7 #navbar ul li a {
  display: block;
}

#main {
  width: 100%;
  float: left;
  margin: 20px 0;
  overflow: hidden;
  -moz-box-shadow: 2px 2px 12px #787878;
  -webkit-box-shadow: 2px 2px 12px #787878;
  box-shadow: 2px 2px 12px #787878;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #e6e6e6 url(../img/bgs/bg_all.png) repeat-y -276px 0;
  -pie-background: #e6e6e6 url({{ ASSET_DIR }}/img/bgs/bg_all.png) repeat-y -276px 0;
  behavior: url({{ ASSET_DIR }}/css/PIE.htc);
}

#sidebar {
  width: 271px;
  height: auto;
  float: left;
  font-size: 116%;
}
#sidebar section a { color: #444; text-decoration: none; }
#sidebar section a:hover { color: #ae432e; text-decoration: none; }
#sidebar section >a {
  display: block;
  font-weight: bold;
  height: 27px;
  padding: 14px 0 0 18px;
  -webkit-transition: color 400ms ease;
  -moz-transition: color 400ms ease;
  transition: color 400ms ease;
  text-shadow: 0 1px 1px #ccc;
  background: url(../img/bgs/bg_all.png) no-repeat 0 -65px;
}
#sidebar section.active >a {
  color: #ae432e;
  background: url(../img/bgs/bg_all.png) no-repeat 0 -20px; 
}
#sidebar section ul {
  margin-left: 40px;
  /*margin-right: 30px;*/
  margin-right: 20px;
}
#sidebar section ul li {
  list-style: none;
  margin: 4px 0 4px;
  padding-left: 10px;
  background: url(../img/bgs/bg_all.png) no-repeat 0 8px;
}
#sidebar section ul li a {
  padding: 3px 0;
  font-size: 86%;
  text-shadow: none;
}
#sidebar section span {
  float: right;
  display: block;
  position: relative;
  top: -27px;
  padding: 2px 5px 2px;
  background-color: #d1d1d1;
  border: 1px solid #bfbfbf;
  margin-right: 20px;
  font-size: 77%;
  color: #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  behavior: url({{ ASSET_DIR }}/css/PIE.htc);
}

#main-inner {
  background-color: #fff;
  min-height: 800px;
  margin-left: 271px;
  padding: 40px;
}

#content { margin-bottom: 35px; }

/*  Articles  */
article {
  color: #404040;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, "Microsoft YaHei", sans-serif;
}
article header {
  border-bottom: 3px solid #e5e5e5;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
article header h1, article header h2 { float: left; }
article header h1 { font-size: 198%; }
article header h2 { font-size: 168%; }
article header a:hover { color: #036; }
article section { overflow: hidden; }
article section h2, article section h3, article section h4, article section h5 { 
  margin-top: 1.0em;
  margin-bottom: .8em;
}
article section h2 { font-size: 168%; }
article section h3 { font-size: 143%; }
article section h4 { font-size: 122%; }
article section h5 { font-size: 107%; }
article section p {
  font-size: 107%;
  line-height: 160%;
  margin-bottom: .67em;
}
article section p:last-child { margin-bottom: 0; }
article section ul li { line-height: 180%; }
article section ol li { line-height: 180%; }
article footer {
  border-top: 1px solid #bfbfbf;
  padding-top: 10px;
  margin-top: 20px;
}

.nested {
  position: relative;
  border: 1px solid #bfbfbf inset;
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 3px #ababab;
  -moz-box-shadow: inset 0px 0px 3px #ababab;
  box-shadow: inset 0px 0px 3px #ababab;
  -pie-box-shadow: none;
  behavior: url({{ ASSET_DIR }}/css/PIE.htc);
}
.ie7 .nested, .ie8 .nested { border: 1px solid #bfbfbf; }
.nested header {
  border-bottom-color: #bfbfbf;
  height: 27px;
}
.nested header h2 { color: #ae432e; }
.nested header h2 a:hover { text-decoration: none; }
.nested footer {
  font-size: 93%;
  color: #666;
}

.page header, .post header { height: 40px; }
.post-extra {
  font-size: 115%;
  overflow: hidden;
  margin-bottom: 30px;
}
.post-extra .pull-left span {
  line-height: 25px;
}

/*  Buttons  */
.button-link, button {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  text-shadow: 0 1px 2px #444;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: baseline;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  overflow: visible;
  width: auto;
  behavior: url({{ ASSET_DIR }}/css/PIE.htc);
}

.button-link {
  color: #fff;
  background-color: #ae432e;
  padding: 3px 6px;
  border: none;
  line-height: 16px;
}
.button-link:hover {
  color: #fff;
  background-color: #4c4c4c;
  text-decoration: none;
}
.button-link.blue { background-color: #066d99; }
.button-link.green { background-color: #6a9912; }

button {
  border: 1px solid;
  border-color: #cb6652 #b74d39 #803121;
  background: -moz-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#faa796), to(#ae432e), color-stop(0.05, #d06c57));
  background: -webkit-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
  background: -o-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
  background: -ms-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
  background: linear-gradient(to bottom, #faa796, #d06c57 5%, #ae432e 100%);
  -pie-background: linear-gradient(#d06c57, #ae432e);
  padding: 4px 15px;
  -webkit-box-shadow: 0 1px 2px #999;
  -moz-box-shadow: 0 1px 2px #999;
  box-shadow: 0 1px 2px #999;
  font-weight: bold;
  color: #fce8e3;
  height: 28px;
}
button:hover {
  background: -moz-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#faa796), to(#943a28), color-stop(0.05, #d06c57));
  background: -webkit-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
  background: -o-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
  background: -ms-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
  background: linear-gradient(to bottom, #faa796, #d06c57 5%, #943a28 100%);
  -pie-background: linear-gradient(#d06c57, #943a28);
  color: #fff;
}
button.blue { 
  border-color: #1495cc #2b8ab3 #066d99;
  background: -moz-linear-gradient(top, #afe3fa, #6cb8d9 5%, #088ec8 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#afe3fa), to(#088ec8), color-stop(0.05, #6cb8d9));
  background: -webkit-linear-gradient(top, #afe3fa, #6cb8d9 5%, #088ec8 100%);
  background: -o-linear-gradient(top, #afe3fa, #6cb8d9 5%, #088ec8 100%);
  background: -ms-linear-gradient(top, #afe3fa, #6cb8d9 5%, #088ec8 100%);
  background: linear-gradient(to bottom, #afe3fa, #6cb8d9 5%, #088ec8 100%);
  -pie-background: linear-gradient(#6cb8d9, #088ec8);
  color: #ebf9ff;
}
button.blue:hover {
  background: -moz-linear-gradient(top, #afe3fa, #6cb8d9 5%, #077bad 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#afe3fa), to(#077bad), color-stop(0.05, #6cb8d9));
  background: -webkit-linear-gradient(top, #afe3fa, #6cb8d9 5%, #077bad 100%);
  background: -o-linear-gradient(top, #afe3fa, #6cb8d9 5%, #077bad 100%);
  background: -ms-linear-gradient(top, #afe3fa, #6cb8d9 5%, #077bad 100%);
  background: linear-gradient(to bottom, #afe3fa, #6cb8d9 5%, #077bad 100%);
  -pie-background: linear-gradient(#6cb8d9, #077bad);
  color: #fff;
}
button.green { 
  border-color: #8dcc18 #7cb315 #6a9912;
  background: -moz-linear-gradient(top, #d7fa96, #abd957 5%, #78ac15 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#d7fa96), to(#78ac15), color-stop(0.05, #abd957));
  background: -webkit-linear-gradient(top, #d7fa96, #abd957 5%, #78ac15 100%);
  background: -o-linear-gradient(top, #d7fa96, #abd957 5%, #78ac15 100%);
  background: -ms-linear-gradient(top, #d7fa96, #abd957 5%, #78ac15 100%);
  background: linear-gradient(to bottom, #d7fa96, #abd957 5%, #78ac15 100%);
  -pie-background: linear-gradient(#abd957, #78ac15);
  color: #f7ffe5;
}
button.green:hover {
  background: -moz-linear-gradient(top, #d7fa96, #abd957 5%, #659111 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#d7fa96), to(#659111), color-stop(0.05, #abd957));
  background: -webkit-linear-gradient(top, #d7fa96, #abd957 5%, #659111 100%);
  background: -o-linear-gradient(top, #d7fa96, #abd957 5%, #659111 100%);
  background: -ms-linear-gradient(top, #d7fa96, #abd957 5%, #659111 100%);
  background: linear-gradient(to bottom, #d7fa96, #abd957 5%, #659111 100%);
  -pie-background: linear-gradient(#abd957, #659111);
  color: #fff;
}
button:disabled {
  background: #fafafa;
  border-color: #b1b3b3;
  text-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
  color: #a0a0a0;
}

/*  Image  */
#logo img { border: none; }
article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/*  Input  */
input {
  background-color: #fcfcfc;
  border: #ddd 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px #d9d9d9 inset;
  -moz-box-shadow: 0 0 4px #d9d9d9 inset;
  box-shadow: 0 0 4px #d9d9d9 inset;
  -pie-box-shadow: none;
  behavior: url({{ ASSET_DIR }}/css/PIE.htc);
}
input:focus {
  background-color: #ededed;
  border-color: #a6a6a6;
}

/*  Tables  */
table {
  width: 100%;
  border: 1px solid #e5e5e5;
}
th, td {
  padding: 8px 0 4px;
  text-align: center;
  border: 1px solid #e5e5e5;
}
th { font-size: 116%; }
tbody tr:nth-child(odd) { background-color: #f2f2f2; }
tbody tr:nth-child(even) { background-color: #fafafa; }
tbody tr:hover { background-color: #e5e5e5; }

/*  Pre and Code  */
code, pre {
  position: relative;
  font-family: "Courier New", Consolas, monospace;
  font-size: 13px;
  behavior: url({{ ASSET_DIR }}/css/PIE.htc);
}
code {
  padding: 1px 3px;
  margin: 0 2px;
  background-color: #f7f7f9;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
pre {
  display: block;
  padding: 9.5px;
  margin-bottom: 15px;
  line-height: 20px;
  word-wrap: normal;
  -ms-word-wrap: normal;
  white-space: pre;
  overflow: auto;
  background-color: #f5f5f5;
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
pre code {
  padding: 0;
  margin: 0;
  color: inherit;
  white-space: pre;
  background-color: transparent;
  border: 0;
}

/* Pygments */
/*.hll { background-color: #ffffcc; }
.c { color: #408080; font-style: italic; }
.k { color: #008000; font-weight: bold; }
.o { color: #666666; }
.cm { color: #408080; font-style: italic; }
.cp { color: #BC7A00; }
.c1 { color: #408080; font-style: italic; }
.cs { color: #408080; font-style: italic; }
.gd { color: #A00000; }
.ge { font-style: italic; }
.gr { color: #FF0000; }
.gh { color: #000080; font-weight: bold; }
.gi { color: #00A000; }
.go { color: #888888; }
.gp { color: #000080; font-weight: bold; }
.gs { font-weight: bold; }
.gu { color: #800080; font-weight: bold; }
.gt { color: #0044DD; }
.kc { color: #008000; font-weight: bold; }
.kd { color: #008000; font-weight: bold; }
.kn { color: #008000; font-weight: bold; }
.kp { color: #008000; }
.kr { color: #008000; font-weight: bold; }
.kt { color: #B00040; }
.m { color: #666666; }
.s { color: #BA2121; }
.na { color: #7D9029; }
.nb { color: #008000; }
.nc { color: #0000FF; font-weight: bold; }
.no { color: #880000; }
.nd { color: #AA22FF; }
.ni { color: #999999; font-weight: bold; }
.ne { color: #D2413A; font-weight: bold; }
.nf { color: #0000FF; }
.nl { color: #A0A000; }
.nn { color: #0000FF; font-weight: bold; }
.nt { color: #008000; font-weight: bold; }
.nv { color: #19177C; }
.ow { color: #AA22FF; font-weight: bold; }
.w { color: #bbbbbb; }
.mf { color: #666666; }
.mh { color: #666666; }
.mi { color: #666666; }
.mo { color: #666666; }
.sb { color: #BA2121; }
.sc { color: #BA2121; }
.sd { color: #BA2121; font-style: italic; }
.s2 { color: #BA2121; }
.se { color: #BB6622; font-weight: bold; }
.sh { color: #BA2121; }
.si { color: #BB6688; font-weight: bold; }
.sx { color: #008000; }
.sr { color: #BB6688; }
.s1 { color: #BA2121; }
.ss { color: #19177C; }
.bp { color: #008000; }
.vc { color: #19177C; }
.vg { color: #19177C; }
.vi { color: #19177C; }
.il { color: #666666; }*/

/*  Search Box  */
#search-box {
  padding: 34px 24px;
  overflow: hidden;
  background: none !important;
}
#search-form {
  position: relative;
  float: left;
}
#query {
  margin-bottom: 0;
  padding: 4px 14px;
  font-family: inherit;
  font-size: 13px;
  font-weight: normal;
  line-height: 100%;
  width: 132px;
  height: 19px;
  float: left;
}
#search-form button {
  margin-left: 8px;
  padding: 0px 12px;
  width: 50px;
  float: right;
}

/*  Pagination  */
.pagination { margin: 20px 0; }
.pagination ul {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -pie-border-radius: none;
  -webkit-box-shadow: 0 1px 2px #f2f2f2;
  -moz-box-shadow: 0 1px 2px #f2f2f2;
  box-shadow: 0 1px 2px #f2f2f2;
  behavior: url({{ ASSET_DIR }}/css/PIE.htc);
}
.pagination ul>li { display: inline; }
.pagination ul>li>a, .pagination ul>li>span {
  float: left;
  padding: 3px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
.pagination ul>li>a:hover, .pagination ul>.active>a, .pagination ul>.active>span { background-color: #f5f5f5; }
.pagination ul>.active>a, .pagination ul>.active>span { color: #999999; cursor: default; }
.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.pagination-centered{ text-align: center; }
.pagination-right{ text-align: right; }
.pagination-large ul>li>a, .pagination-large ul>li>span { padding: 11px 19px; font-size: 17.5px; }
.pagination-large ul>li:first-child>a, .pagination-large ul>li:first-child>span {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-large ul>li:last-child>a, .pagination-large ul>li:last-child>span {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-mini ul>li:first-child>a, .pagination-small ul>li:first-child>a, .pagination-mini ul>li:first-child>span, .pagination-small ul>li:first-child>span {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-mini ul>li:last-child>a, .pagination-small ul>li:last-child>a, .pagination-mini ul>li:last-child>span, .pagination-small ul>li:last-child>span {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.pagination-small ul>li>a, .pagination-small ul>li>span { padding: 2px 10px; font-size: 11.9px; }
.pagination-mini ul>li>a, .pagination-mini ul>li>span { padding: 0 6px; font-size: 10.5px; }

/*  Tag Box  */
.tag-box-wrapper {
  overflow: hidden;
}
.tag-box-wrapper .tag-box {
  float: left;
  margin-right: 10px;
}
.tag-box li i {
  opacity: .9;
  line-height: 32px;
}
.tag-box a {
  position: relative;
  padding: 4px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
  behavior: url({{ ASSET_DIR }}/css/PIE.htc);
}
.tag-box a span { vertical-align: super; font-size: .8em; }
.tag-box a:hover { background-color: #e5e5e5; }
.tag-box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}
.inline {
  list-style: none;
  margin: 0;
  overflow: hidden;
}
.inline li {
  float: left;
  position: relative;
  margin-left: 10px;
  line-height: 30px;
}

/*  Widgets  */
#tag-cloud, #contacts-list {
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 15px;
}
#tag-cloud a {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}
#tag-cloud a:hover { color: #ae432e !important; }
#contacts-list { margin-top: 6px; }
#fixed-container { width: 271px; }

/*  Comments  */
#comments {
  margin-top: 30px;
}
#ds-thread {
  clear: none !important;
  float: left;
  margin-top: 0;
  width: 100%;
}
#ds-reset li.ds-tab a, #ds-reset .ds-rounded, #ds-reset #ds-bubble {
  position: relative;
  behavior: url({{ ASSET_DIR }}/css/PIE.htc);
}
#ds-reset .ds-avatar img {
  position: relative;
  -webkit-border-radius: 27px !important;
  -moz-border-radius: 27px !important;
  border-radius: 27px !important;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  behavior: url({{ ASSET_DIR }}/css/PIE.htc);
}
#ds-reset .ds-avatar img:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
#ds-reset .ds-powered-by, #ds-reset .ds-meta {
  display: none !important;
}
#ds-reset, #ds-reset .ds-comment-body p {
  font-size: 100% !important;
}
#ds-reset .ds-textarea-wrapper, #ds-reset .ds-gradient-bg,
#ds-reset .ds-post-button, #ds-smilies-tooltip ul.ds-smilies-tabs li a {
  background: none !important;
}

/*  Share  */
#share a { color: #444; }
#share a:hover { text-decoration: none; }
#share a.wechat:hover { color: #51c332; }
#share a.weibo:hover { color: #e72c40; }
#share a.qzone:hover { color: #fcb920; }
#share a.twitter:hover { color: #55acee; }
#share a.facebook:hover { color: #415d98; }
#share a.googleplus:hover { color: #dc5046; }
#bdshare_s a, #bdshare_s h6, #bdshare a, #bdshare span {
  font-family: inherit !important;
}
#bdshare_l_c p, #bdshare_pop p {
  display: none;
}

/*  Back Top Button  */
#back-top {
  position: fixed;
  bottom: 30px;
  margin-left: 1040px;
  background-color: #aaa;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  transition: 0.7s;
  behavior: url({{ ASSET_DIR }}/css/PIE.htc);
}
#back-top:hover {
  background-color: #777;
}
#back-top a {
  color: #fff;
  text-decoration: none;
  padding: 12px 14px;
  display: inline-block;
}

/*  Ajax Loader  */
#loader {
  display: none;
}
#loader img {
  display: block;
  margin: 40px auto;
}

blockquote {
  background: #FFF;
  margin: 0;
  padding: 5px 20px;
  border-left: 10px solid #CCC; }

code, pre {
  font-family: Menlo, Monaco, Consolas, "DejaVu Sans Mono", "Liberation Mono", "文泉驿等宽微米黑", "Courier New", Courier, SimSun, monospace;
  font-size: 15px; }

code.highlighter-rouge{
  /*background: #333;*/
  background: #f8f8f8;
    /*color: #fff;*/
    border-radius: 5px;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}
pre {
  overflow-x: auto;
  padding: 20px 20px; }

pre, pre code {
  color: #fafafa;
  background-color: #333; }

pre code {
  padding: 0; }


/*  Responsive UI  */
@media (max-width: 1199px) {
  #wrap { width: 100%; }
  #logo, #about-link, #rss-link { display: none; }
  #navbar { margin-top: 0; }
  #sidebar { display: none; }
  #main { background: none; }
  #main-inner {
    margin-left: 0;
    padding: 20px;
  }
  article header {
    overflow: hidden;
    white-space: nowrap;
  }
}

/* Monokai Theme from https://github.com/richleland/pygments-css/blob/master/monokai.css */
.highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Strong */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
  /* Generic Heading & Diff Header */
  /* Generic.Subheading & Diff Unified/Comment? */
  /* Generic.Deleted & Diff Deleted */
  /* Generic.Inserted & Diff Inserted */ }
  .highlight .hll {
    background-color: #49483e; }
  .highlight .c {
    color: #75715e; }
  .highlight .err {
    color: #960050;
    background-color: #1e0010; }
  .highlight .k {
    color: #66d9ef; }
  .highlight .l {
    color: #ae81ff; }
  .highlight .n {
    color: #f8f8f2; }
  .highlight .o {
    color: #f92672; }
  .highlight .p {
    color: #f8f8f2; }
  .highlight .cm {
    color: #75715e; }
  .highlight .cp {
    color: #75715e; }
  .highlight .c1 {
    color: #75715e; }
  .highlight .cs {
    color: #75715e; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .kc {
    color: #66d9ef; }
  .highlight .kd {
    color: #66d9ef; }
  .highlight .kn {
    color: #f92672; }
  .highlight .kp {
    color: #66d9ef; }
  .highlight .kr {
    color: #66d9ef; }
  .highlight .kt {
    color: #66d9ef; }
  .highlight .ld {
    color: #e6db74; }
  .highlight .m {
    color: #ae81ff; }
  .highlight .s {
    color: #e6db74; }
  .highlight .na {
    color: #a6e22e; }
  .highlight .nb {
    color: #f8f8f2; }
  .highlight .nc {
    color: #a6e22e; }
  .highlight .no {
    color: #66d9ef; }
  .highlight .nd {
    color: #a6e22e; }
  .highlight .ni {
    color: #f8f8f2; }
  .highlight .ne {
    color: #a6e22e; }
  .highlight .nf {
    color: #a6e22e; }
  .highlight .nl {
    color: #f8f8f2; }
  .highlight .nn {
    color: #f8f8f2; }
  .highlight .nx {
    color: #a6e22e; }
  .highlight .py {
    color: #f8f8f2; }
  .highlight .nt {
    color: #f92672; }
  .highlight .nv {
    color: #f8f8f2; }
  .highlight .ow {
    color: #f92672; }
  .highlight .w {
    color: #f8f8f2; }
  .highlight .mf {
    color: #ae81ff; }
  .highlight .mh {
    color: #ae81ff; }
  .highlight .mi {
    color: #ae81ff; }
  .highlight .mo {
    color: #ae81ff; }
  .highlight .sb {
    color: #e6db74; }
  .highlight .sc {
    color: #e6db74; }
  .highlight .sd {
    color: #e6db74; }
  .highlight .s2 {
    color: #e6db74; }
  .highlight .se {
    color: #ae81ff; }
  .highlight .sh {
    color: #e6db74; }
  .highlight .si {
    color: #e6db74; }s
  .highlight .sx {
    color: #e6db74; }
  .highlight .sr {
    color: #e6db74; }
  .highlight .s1 {
    color: #e6db74; }
  .highlight .ss {
    color: #e6db74; }
  .highlight .bp {
    color: #f8f8f2; }
  .highlight .vc {
    color: #f8f8f2; }
  .highlight .vg {
    color: #f8f8f2; }
  .highlight .vi {
    color: #f8f8f2; }
  .highlight .il {
    color: #ae81ff; }
  .highlight .gu {
    color: #75715e; }
  .highlight .gd {
    color: #f92672; }
  .highlight .gi {
    color: #a6e22e; }


/* comment */
.gitment-container {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  word-wrap: break-word;
}

.gitment-container * {
  box-sizing: border-box;
}

.gitment-container *:disabled {
  cursor: not-allowed;
}

.gitment-container a,
.gitment-container a:visited {
  cursor: pointer;
  text-decoration: none;
}

.gitment-container a:hover {
  text-decoration: underline;
}

.gitment-container .gitment-hidden {
  display: none;
}

.gitment-container .gitment-spinner-icon {
  fill: #333;

  -webkit-animation: gitment-spin 1s steps(12) infinite;
  animation: gitment-spin 1s steps(12) infinite;
}

@-webkit-keyframes gitment-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes gitment-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.gitment-root-container {
  margin: 19px 0;
}

.gitment-header-container {
  margin: 19px 0;
}

.gitment-header-like-btn,
.gitment-comment-like-btn {
  cursor: pointer;
}

.gitment-comment-like-btn {
  float: right;
}

.gitment-comment-like-btn.liked {
  color: #F44336;
}

.gitment-header-like-btn svg {
  vertical-align: middle;
  height: 30px;
}

.gitment-comment-like-btn svg {
  vertical-align: middle;
  height: 20px;
}

.gitment-header-like-btn.liked svg,
.gitment-comment-like-btn.liked svg {
  fill: #F44336;
}

a.gitment-header-issue-link,
a.gitment-header-issue-link:visited {
  float: right;
  line-height: 30px;
  color: #666;
}

a.gitment-header-issue-link:hover {
  color: #666;
}

.gitment-comments-loading,
.gitment-comments-error,
.gitment-comments-empty {
  text-align: center;
  margin: 50px 0;
}

.gitment-comments-list {
  list-style: none;
  padding-left: 0;
  margin: 0 0 38px;
}

.gitment-comment,
.gitment-editor-container {
  position: relative;
  min-height: 60px;
  padding-left: 60px;
  margin: 19px 0;
}

.gitment-comment-avatar,
.gitment-editor-avatar {
  float: left;
  margin-left: -60px;
}

.gitment-comment-avatar,
.gitment-comment-avatar-img,
.gitment-comment-avatar,
.gitment-editor-avatar-img,
.gitment-editor-avatar svg {
  width: 44px;
  height: 44px;
  border-radius: 3px;
}

.gitment-editor-avatar .gitment-github-icon {
  fill: #fff;
  background-color: #333;
}

.gitment-comment-main,
.gitment-editor-main {
  position: relative;
  border: 1px solid #CFD8DC;
  border-radius: 0;
}

.gitment-editor-main::before,
.gitment-editor-main::after,
.gitment-comment-main::before,
.gitment-comment-main::after {
  position: absolute;
  top: 11px;
  left: -16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: "";
  border-color: transparent;
  border-style: solid solid outset;
}

.gitment-editor-main::before,
.gitment-comment-main::before {
  border-width: 8px;
  border-right-color: #CFD8DC;
}

.gitment-editor-main::after,
.gitment-comment-main::after {
  margin-top: 1px;
  margin-left: 2px;
  border-width: 7px;
  border-right-color: #fff;
}

.gitment-comment-header {
  margin: 12px 15px;
  color: #666;
  background-color: #fff;
  border-radius: 3px;
}

.gitment-editor-header {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #CFD8DC;
}

a.gitment-comment-name,
a.gitment-comment-name:visited {
  font-weight: 600;
  color: #666;
}

.gitment-editor-tabs {
  margin-bottom: -1px;
  margin-left: -1px;
}

.gitment-editor-tab {
  display: inline-block;
  padding: 11px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-decoration: none;
  background: transparent;
  border-width: 0 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0;

  white-space: nowrap;
  cursor: pointer;
  user-select: none;

  outline: none;

  box-shadow: none;
  -webkit-box-shadow: none;
  /*height: 20px;*/
  height: auto;
}

.gitment-editor-tab:hover {
  background: none;
}

.gitment-editor-tab.gitment-selected {
  color: #333;
  background-color: #fff;
  border-color: #CFD8DC;
}

.gitment-editor-login {
  float: right;
  margin-top: -30px;
  margin-right: 15px;
}

a.gitment-footer-project-link,
a.gitment-footer-project-link:visited,
a.gitment-editor-login-link,
a.gitment-editor-login-link:visited {
  color: #2196F3;
}

a.gitment-editor-logout-link,
a.gitment-editor-logout-link:visited {
  color: #666;
}

a.gitment-editor-logout-link:hover {
  color: #2196F3;
  text-decoration: none;
}

.gitment-comment-body {
  position: relative;
  margin: 12px 15px;
  overflow: hidden;
  border-radius: 3px;
}

.gitment-comment-body-folded {
  cursor: pointer;
}

.gitment-comment-body-folded::before {
  display: block !important;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 50px;
  pointer-events: none;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .9));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .9));
}

.gitment-comment-body-folded::after {
  display: block !important;
  content: "Click to Expand" !important;
  text-align: center;
  color: #666;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: rgba(255, 255, 255, .9);
}

.gitment-editor-body {
  margin: 0;
}

.gitment-comment-body > *:first-child,
.gitment-editor-preview > *:first-child {
  margin-top: 0 !important;
}

.gitment-comment-body > *:last-child,
.gitment-editor-preview > *:last-child {
  margin-bottom: 0 !important;
}

.gitment-editor-body textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  max-height: 500px;
  padding: 16px;
  resize: vertical;

  max-width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;

  background-color: #fff;

  color: #333;
  vertical-align: middle;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;

  overflow: visible;
}

.gitment-editor-body textarea:focus {
  background-color: #fff;
}

.gitment-editor-preview {
  min-height: 150px;

  padding: 16px;
  background-color: transparent;

  width: 100%;
  font-size: 14px;

  line-height: 1.5;
  word-wrap: break-word;
}

.gitment-editor-footer {
  padding: 0;
  margin-top: 10px;
}

.gitment-editor-footer::after {
  display: table;
  clear: both;
  content: "";
}

a.gitment-editor-footer-tip {
  display: inline-block;
  padding-top: 10px;
  font-size: 12px;
  color: #666;
}

a.gitment-editor-footer-tip:hover {
  color: #2196F3;
  text-decoration: none;
}

.gitment-comments-pagination {
  list-style: none;
  text-align: right;
  border-radius: 0;
  margin: -19px 0 19px 0;
}

.gitment-comments-page-item {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #CFD8DC;
  margin-left: -1px;
  padding: .25rem .5rem;
}

.gitment-comments-page-item:hover {
  background-color: #f5f5f5;
}

.gitment-comments-page-item.gitment-selected {
  background-color: #f5f5f5;
}

.gitment-editor-submit,
.gitment-comments-init-btn {
  color: #fff;
  background: #00BCD4;

  position: relative;
  display: inline-block;
  padding: 7px 13px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-size: 110% 110%;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.gitment-editor-submit:hover,
.gitment-comments-init-btn:hover {
  background: #00ACC1;
}

.gitment-comments-init-btn:disabled,
.gitment-editor-submit:disabled {
  color: rgba(255,255,255,0.75);
  background-color: #4DD0E1;
  box-shadow: none;
}

.gitment-editor-submit {
  float: right;
}

.gitment-footer-container {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 12px;
}

/*
 * Markdown CSS
 * Copied from https://github.com/sindresorhus/github-markdown-css
 */
.gitment-markdown {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.gitment-markdown .pl-c {
  color: #969896;
}

.gitment-markdown .pl-c1,
.gitment-markdown .pl-s .pl-v {
  color: #0086b3;
}

.gitment-markdown .pl-e,
.gitment-markdown .pl-en {
  color: #795da3;
}

.gitment-markdown .pl-smi,
.gitment-markdown .pl-s .pl-s1 {
  color: #333;
}

.gitment-markdown .pl-ent {
  color: #63a35c;
}

.gitment-markdown .pl-k {
  color: #a71d5d;
}

.gitment-markdown .pl-s,
.gitment-markdown .pl-pds,
.gitment-markdown .pl-s .pl-pse .pl-s1,
.gitment-markdown .pl-sr,
.gitment-markdown .pl-sr .pl-cce,
.gitment-markdown .pl-sr .pl-sre,
.gitment-markdown .pl-sr .pl-sra {
  color: #183691;
}

.gitment-markdown .pl-v,
.gitment-markdown .pl-smw {
  color: #ed6a43;
}

.gitment-markdown .pl-bu {
  color: #b52a1d;
}

.gitment-markdown .pl-ii {
  color: #f8f8f8;
  background-color: #b52a1d;
}

.gitment-markdown .pl-c2 {
  color: #f8f8f8;
  background-color: #b52a1d;
}

.gitment-markdown .pl-c2::before {
  content: "^M";
}

.gitment-markdown .pl-sr .pl-cce {
  font-weight: bold;
  color: #63a35c;
}

.gitment-markdown .pl-ml {
  color: #693a17;
}

.gitment-markdown .pl-mh,
.gitment-markdown .pl-mh .pl-en,
.gitment-markdown .pl-ms {
  font-weight: bold;
  color: #1d3e81;
}

.gitment-markdown .pl-mq {
  color: #008080;
}

.gitment-markdown .pl-mi {
  font-style: italic;
  color: #333;
}

.gitment-markdown .pl-mb {
  font-weight: bold;
  color: #333;
}

.gitment-markdown .pl-md {
  color: #bd2c00;
  background-color: #ffecec;
}

.gitment-markdown .pl-mi1 {
  color: #55a532;
  background-color: #eaffea;
}

.gitment-markdown .pl-mc {
  color: #ef9700;
  background-color: #ffe3b4;
}

.gitment-markdown .pl-mi2 {
  color: #d8d8d8;
  background-color: #808080;
}

.gitment-markdown .pl-mdr {
  font-weight: bold;
  color: #795da3;
}

.gitment-markdown .pl-mo {
  color: #1d3e81;
}

.gitment-markdown .pl-ba {
  color: #595e62;
}

.gitment-markdown .pl-sg {
  color: #c0c0c0;
}

.gitment-markdown .pl-corl {
  text-decoration: underline;
  color: #183691;
}

.gitment-markdown .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.gitment-markdown a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.gitment-markdown a:active,
.gitment-markdown a:hover {
  outline-width: 0;
}

.gitment-markdown strong {
  font-weight: inherit;
}

.gitment-markdown strong {
  font-weight: bolder;
}

.gitment-markdown h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.gitment-markdown img {
  border-style: none;
}

.gitment-markdown svg:not(:root) {
  overflow: hidden;
}

.gitment-markdown code,
.gitment-markdown kbd,
.gitment-markdown pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.gitment-markdown hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.gitment-markdown input {
  font: inherit;
  margin: 0;
}

.gitment-markdown input {
  overflow: visible;
}

.gitment-markdown [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.gitment-markdown * {
  box-sizing: border-box;
}

.gitment-markdown input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.gitment-markdown a {
  color: #0366d6;
  text-decoration: none;
}

.gitment-markdown a:hover {
  text-decoration: underline;
}

.gitment-markdown strong {
  font-weight: 600;
}

.gitment-markdown hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.gitment-markdown hr::before {
  display: table;
  content: "";
}

.gitment-markdown hr::after {
  display: table;
  clear: both;
  content: "";
}

.gitment-markdown table {
  border-spacing: 0;
  border-collapse: collapse;
}

.gitment-markdown td,
.gitment-markdown th {
  padding: 0;
}

.gitment-markdown h1,
.gitment-markdown h2,
.gitment-markdown h3,
.gitment-markdown h4,
.gitment-markdown h5,
.gitment-markdown h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.gitment-markdown h1 {
  font-size: 32px;
  font-weight: 600;
}

.gitment-markdown h2 {
  font-size: 24px;
  font-weight: 600;
}

.gitment-markdown h3 {
  font-size: 20px;
  font-weight: 600;
}

.gitment-markdown h4 {
  font-size: 16px;
  font-weight: 600;
}

.gitment-markdown h5 {
  font-size: 14px;
  font-weight: 600;
}

.gitment-markdown h6 {
  font-size: 12px;
  font-weight: 600;
}

.gitment-markdown p {
  margin-top: 0;
  margin-bottom: 10px;
}

.gitment-markdown blockquote {
  margin: 0;
}

.gitment-markdown ul,
.gitment-markdown ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.gitment-markdown ol ol,
.gitment-markdown ul ol {
  list-style-type: lower-roman;
}

.gitment-markdown ul ul ol,
.gitment-markdown ul ol ol,
.gitment-markdown ol ul ol,
.gitment-markdown ol ol ol {
  list-style-type: lower-alpha;
}

.gitment-markdown dd {
  margin-left: 0;
}

.gitment-markdown code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.gitment-markdown pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.gitment-markdown .octicon {
  vertical-align: text-bottom;
}

.gitment-markdown .pl-0 {
  padding-left: 0 !important;
}

.gitment-markdown .pl-1 {
  padding-left: 4px !important;
}

.gitment-markdown .pl-2 {
  padding-left: 8px !important;
}

.gitment-markdown .pl-3 {
  padding-left: 16px !important;
}

.gitment-markdown .pl-4 {
  padding-left: 24px !important;
}

.gitment-markdown .pl-5 {
  padding-left: 32px !important;
}

.gitment-markdown .pl-6 {
  padding-left: 40px !important;
}

.gitment-markdown::before {
  display: table;
  content: "";
}

.gitment-markdown::after {
  display: table;
  clear: both;
  content: "";
}

.gitment-markdown>*:first-child {
  margin-top: 0 !important;
}

.gitment-markdown>*:last-child {
  margin-bottom: 0 !important;
}

.gitment-markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.gitment-markdown .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.gitment-markdown .anchor:focus {
  outline: none;
}

.gitment-markdown p,
.gitment-markdown blockquote,
.gitment-markdown ul,
.gitment-markdown ol,
.gitment-markdown dl,
.gitment-markdown table,
.gitment-markdown pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.gitment-markdown hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.gitment-markdown blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.gitment-markdown blockquote>:first-child {
  margin-top: 0;
}

.gitment-markdown blockquote>:last-child {
  margin-bottom: 0;
}

.gitment-markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 0;
  box-shadow: inset 0 -1px 0 #959da5;
}

.gitment-markdown h1,
.gitment-markdown h2,
.gitment-markdown h3,
.gitment-markdown h4,
.gitment-markdown h5,
.gitment-markdown h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.gitment-markdown h1 .octicon-link,
.gitment-markdown h2 .octicon-link,
.gitment-markdown h3 .octicon-link,
.gitment-markdown h4 .octicon-link,
.gitment-markdown h5 .octicon-link,
.gitment-markdown h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.gitment-markdown h1:hover .anchor,
.gitment-markdown h2:hover .anchor,
.gitment-markdown h3:hover .anchor,
.gitment-markdown h4:hover .anchor,
.gitment-markdown h5:hover .anchor,
.gitment-markdown h6:hover .anchor {
  text-decoration: none;
}

.gitment-markdown h1:hover .anchor .octicon-link,
.gitment-markdown h2:hover .anchor .octicon-link,
.gitment-markdown h3:hover .anchor .octicon-link,
.gitment-markdown h4:hover .anchor .octicon-link,
.gitment-markdown h5:hover .anchor .octicon-link,
.gitment-markdown h6:hover .anchor .octicon-link {
  visibility: visible;
}

.gitment-markdown h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.gitment-markdown h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.gitment-markdown h3 {
  font-size: 1.25em;
}

.gitment-markdown h4 {
  font-size: 1em;
}

.gitment-markdown h5 {
  font-size: 0.875em;
}

.gitment-markdown h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.gitment-markdown ul,
.gitment-markdown ol {
  padding-left: 2em;
}

.gitment-markdown ul ul,
.gitment-markdown ul ol,
.gitment-markdown ol ol,
.gitment-markdown ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.gitment-markdown li>p {
  margin-top: 16px;
}

.gitment-markdown li+li {
  margin-top: 0.25em;
}

.gitment-markdown dl {
  padding: 0;
}

.gitment-markdown dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.gitment-markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.gitment-markdown table {
  display: block;
  width: 100%;
  overflow: auto;
}

.gitment-markdown table th {
  font-weight: 600;
}

.gitment-markdown table th,
.gitment-markdown table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.gitment-markdown table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.gitment-markdown table tr:nth-child(2n) {
  background-color: #f5f5f5;
}

.gitment-markdown img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.gitment-markdown code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 0;
}

.gitment-markdown code::before,
.gitment-markdown code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.gitment-markdown pre {
  word-wrap: normal;
}

.gitment-markdown pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.gitment-markdown .highlight {
  margin-bottom: 16px;
}

.gitment-markdown .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.gitment-markdown .highlight pre,
.gitment-markdown pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f5f5f5;
  border-radius: 0;
}

.gitment-markdown pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.gitment-markdown pre code::before,
.gitment-markdown pre code::after {
  content: normal;
}

.gitment-markdown .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.gitment-markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 0;
  box-shadow: inset 0 -1px 0 #959da5;
}

.gitment-markdown :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.gitment-markdown .task-list-item {
  list-style-type: none;
}

.gitment-markdown .task-list-item+.task-list-item {
  margin-top: 3px;
}

.gitment-markdown .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.gitment-markdown hr {
  border-bottom-color: #eee;
}